*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.main-nav{
    background-color: #779980;
    color: whitesmoke;
    padding: 20px 20px;
    overflow: hidden;
}
.main-nav nav{
    float:right;
    padding: 10px;
    margin-top: 12px;
}
.main-nav nav ul li{
    display: inline;
    padding-right: 130px;
}
.main-nav nav ul li a{
    color: whitesmoke;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
}
.main-nav nav ul li a:hover{
    color: #2f694c;
    transition: 0.20s;
}
#main-nav-id  .myLogo{
    float:left;
    width: 55px;
    border-right: solid rgb(21, 66, 92) 5px;
    border-bottom: solid rgb(21, 66, 92) 5px;
    padding-top: 10px;
    margin-left: 15px;
    border-radius: 20%;
}
.myLogo{
    text-align: center;
    padding-bottom: 5px;
}
.backgroundfixed{
  background-image: url("./image/qweqwe.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .headerbox h1{
    text-align: center;
    margin-top: 70px;
    font-size: 5em;
    font-weight: 3;
    font-family: Courier New;
}
header .headerbox p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 1.6em;
    color: #6b8778;
}
.container1{
    display: flex;
    margin: 7%;
}
.profileimg{
    margin-right: 30px;
}
.firstsection{
    background-color: whitesmoke;
}
.firstsection h1{
    font-size: 2em;
    padding: 90px 60px 40px 60px;
}
.firstsection p{
    padding: 0px 60px 10px 60px;
}
.firstsectionhref{
    color: #97afa3;
}
.firstsectionhref:hover{
    color: #b9c6bf;
}

.moreaboutjaymer{
    margin-top: 20px;
    padding-left:60px;
}
.moreaboutjaymer button{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #97afa3;
    color:white ;
    border:#97afa3 ;
}
.moreaboutjaymer button:hover{
    background-color:#c2d6cc ;
}
.backgroundfixed2{
    background-image: url("./image/secondbackgroundmove.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2{
    display: flex;
    margin: 7%;
}
.projectimg{
    margin-right: 30px;
}
.secondsection{
    background-color: whitesmoke;
}
.secondsection h1{
    font-size: 2em;
    padding: 50px 60px 40px 60px;
}
.secondsection p{
    padding: 0px 60px 20px 60px;
}
.readmoreprojects{
    margin-left: 60px;
    padding-top: 25px;
}
.readmoreprojects button{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #97afa3;
    color:white ;
    border:#97afa3 ;
}
.readmoreprojects button:hover{
    background-color:#c2d6cc ;
}
footer{
    background-color: #64646d;
    text-align: center;
    padding: 50px;
    color: #cccccf;
}
.footerp1{
    margin-bottom: 60px;
    font-size: 1.1em;
}
.footerhref{
    text-decoration: none;
    color: #f9f9fa;
    border-bottom: solid #f9f9fa 1px;
}
.footerhref:hover{
    color: #cccccf;
    border-bottom: solid #cccccf 1px ;
}
.term{
    margin-bottom: 40px;
    font-size: 1em;
    padding-bottom: 50px;
}
.footerbutton button{
    color: #e6e6e8;
    padding: 17px;
    background-color: #64646d;
    border: solid white 2px;
    margin-bottom: 50px;
}
.footerbutton button:hover{
    background-color: whitesmoke;
    transition: 1s;
    color: black;
}
.footerbutton button a:hover{
    color: black;
}


/*This Is About Page Css */



.aboutusmove{
    background-image: url("./image/aboutusmove.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .headerbox2 h1{
    text-align: center;
    margin-top: 70px;
    font-size: 5em;
    font-weight: 3;
    font-family: Courier New;
}
header .headerbox2 p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 1.1em;
    color: #6b8778;
    padding: 50px 100px 10px 100px;
}
.aboutcontainer1{
    display: flex;
    margin: 7%;
}
.profileimg2{
    margin-left: 30px;
}
.firstsectionabout{
    background-color: whitesmoke;
}
.firstsectionabout h1{
    font-size: 2em;
    padding: 90px 60px 40px 60px;
}
.firstsectionabout p{
    padding: 0px 60px 10px 60px;
}
.firstsectionhref{
    color: #97afa3;
}
.firstsectionhref:hover{
    color: #b9c6bf;
}
.creativeprocess {
    margin-top: 20px;
    padding-left:60px;
    font-size: 1em;
    color: #7d9588;
}
.creativeprocess h3{
    border-bottom:solid #7d9588 1px ;
}
.aboutcontainer2{
    display: flex;
    margin: 7%;
}
.profileimg3{
    margin-left: 30px;
}
.firstsectionabout2{
    background-color: whitesmoke;
    margin-left: 40px;
}
.firstsectionabout2 h1{
    font-size: 2em;
    padding: 90px 60px 40px 60px;
}
.firstsectionabout2 p{
    padding: 0px 60px 10px 60px;
}
.expertise{
    text-align: center;
    color: #a0b2a8;
}
.expertise-list-container{
    display: flex;
    padding: 50px;
    margin-bottom: 6%;
}
.expertise1{
    margin-right: 20%;
    margin-left: 30%;
}
.expertise1 ul li{
    font-size: 1em;
    padding: 10px 10px 5px 10px;
}
.experties2 ul li{
    font-size: 1em;
    padding: 10px 10px 5px 10px;
}


/*This Is Project Page Css */



.projectmove{
    background-image: url("./image/projectmove.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerproject{
    padding: 7% 7% 3% 7%;
    text-align: center;
}
.headerproject h1{
    font-size: 4em;
    margin-bottom: 40px;
}
.projectb{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.5em;
}
.projectcontainer{
    display: flex;
    margin: 7%;
}
.projectimg2{
    margin-right: 30px;
}
.projectsecondsection{
    background-color: whitesmoke;
}
.projectsecondsection h1{
    font-size: 2em;
    padding: 50px 60px 40px 60px;
    color: #7e968a;
}
.projectsecondsection p{
    padding: 0px 60px 20px 60px;
}

#lumencinema{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
#lumencinema:hover{
    -webkit-filter: none;
    transition: 1s;
}

/*This is Contact CSS */


.contactcontainer{
    text-align: center;
    padding: 10%;
    background-color: #64646e;
    color: whitesmoke;
}
.contactcontainer h1{
    margin-bottom: 10px;
    font-size: 6em;
    font-weight: 60
}
.contactcontainer h2{
    margin-bottom:10px ;
}
.contactcontainer h3{
    margin-bottom:10px ;
}
.containercontact{
    display: flex;
    margin: 7%;
}
.nameandlastname{
    display: flex;
    margin-bottom: 5%;
}
.form{
    outline: none;
}
.contactname{
    margin-right: 22%;
}
.firstform{
    margin-right: 5%;
    padding: 2%;
}
.contactname input{
    width: 100%;
    padding: 10px;
    padding-right: 90px;
}
.contactlastname input{
    padding: 10px;
    padding-right: 90px;
}
.email{
    padding: 10px;
    padding-right: 66%;
    margin-bottom: 5%;
}
#number{
    padding: 10px;
    padding-right: 66%;
    margin-bottom: 5%;
}
textarea{
    padding-right: 58%;
}
.firstform button{
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #97afa3;
    border: solid #97afa3 ;
}
.firstform button:hover{
    background-color: #64646e;
    border: solid #64646e;
}